body {
		background-color: papayawhip;
		margin-bottom: 50px;
	}
	img {
		display: block;
  		margin-left: auto;
  		margin-right: auto;
	}
	h1 {
		margin-top: 50px;
		text-align: center;
		font-family: Georgia;
		font-size: 40px;
		color : saddlebrown;
	}
	h2 {
		margin-left: 40px;
		font-size: 30px;
		color: darkslateblue;
	}
	.content {
		font-size: 18px;
	}
	ul, ol {
		margin-left: 50px;
	}
	li ul {
		margin-left: -10px;
	}
	p {
		margin-left: 70px;
	}